// less变量
@greenColor: #1EC773;
@blueColor: #00B0E5;
@redColor: #FF0000;
@orangeColor: #FF930F;
@grayColor: #cccccc;
@blackColor: #000000;
@whiteColor: #ffffff;

// button使用
@disabledColor: @grayColor;
@primaryColor: @blackColor;
@infoColor: @blueColor;
@successColor: @greenColor;
@warningColor: @orangeColor;
@dangerColor: @redColor;
// 分页使用
@currentColor: @greenColor;
